<div class="container">
    <div class="content">
        <pre>
            Get Every Solution Here

            <b>I'm a Web Developer
            Saranya Krishnamoorthy</b>

            "Let us take you into a deeper experience,
            make a moment a lasting conveyable memory.
            Let us help build your tribe."

            <button>Learn More</button> <button>Hire Me</button>

        </pre>
    </div>
    <div class="image">
        <img src=".\assets\businesswoman-office-sitting-with-laptop-looking-camera_360066-17105-removebg-preview.png" height="390px" width="500px">
    </div>
</div>
