.header{
    position: relative;
}
.fa-solid{
    font-size: 40px;
    color: black;
    position: absolute;
    left: 25px;
    top: 5px;
}
.nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 50px;
    width: 100%;
    background-color: rgb(216, 214, 214);
    text-align: center;
}
.nav li{
    float: right;
}
.nav li a{
    text-align: center;
    display: inline-block;
    color: black;
    padding: 10px;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    margin-right: 50px;
    right: 15px;
}
.nav li a:hover{
    background-color: black;
    color: white;
    font-size: large;
    font-weight: bold;
}